<div class="container dashboard">
  <h1 class="page-header">Admin dashboard</h1>
  <div class="row">

    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">All admins</h3>
        </div>
        <div class="panel-body">
          <ul class="dashboard-list">
            <% @admins.each do |admin| %>
              <li>
                <%= image_tag(admin.picture_url(:thumb), size: "40x40" ) if admin.picture.present? %>
                <%= link_to admin.first_name, person_path(admin) %>
                <a href="#" class="dashboard-list-actions"><span><%= fa_icon "magic", text: "un-adminify" %></span></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default panel-image">
        <div class="panel-heading">
          <h3 class="panel-title">Gif content</h3>
        </div>
        <div class="panel-body">
          <img src="#" id="js-randomGif" class="hidden">
        </div>
      </div>
    </div>
  </div>
</div>
