- if logged_in?(@person)
  .action-buttons
    - if @person.provider.present?
      Account linked with GitHub
    - else
      = link_to "Link account with GitHub",  person_github_omniauth_authorize_path, id: 'github-button', class: 'btn btn-grey-full'

    = link_to "Edit profile", edit_person_path(@person), class: 'btn btn-teal'
    = link_to "Change password", edit_person_registration_path, class: 'btn btn-teal'
    = link_to "Delete account", person_registration_path(@person), method: :delete, data: { confirm: "Are you sure you want to delete your account?" }, class: 'btn btn-pink'
