.container.student-list
  %h1.page-header People overview
  = render partial: 'shared/alphabetical_list', locals: { alphabetical_list: @alphabetical_list}

  .row
    = render partial: 'shared/grouped_people', locals: { grouped_people: @grouped_people, coach_page: false }
    %aside.sidebar.col-md-4
      = render partial: 'shared/filter', locals: { path: people_path }