.btn {
  padding: 0.3em 0.8em 0.4em;
  border-radius: 5px;
  color: white;
}

.btn-lrg {
  padding: 0.5em 5em 0.7em;
}
.btn-pink {
  background-color: $salmon-pink;
  &:hover {
    background-color: $petal-pink;
  }
}

.btn-teal {
  background-color: $teal;
  &:hover {
    background-color: $teal-light;
  }
}

.btn-grey {
  background-color: $limestone-grey;
  &:hover {
    background-color: $onyx-grey;
  }
}

// Secondary button, e.g. filter reset
.btn-outline {
  border: 2px solid $limestone-grey;
  color: $limestone-grey;
}

// used for register-buttons
.sign-in-cta {
  margin-top: 1.5em;
}

// Filter submit button
input[type=submit] {
  border: 1px solid $limestone-grey;
  font-family: inherit;
  font-size: inherit;
  &:hover {
    border-color: $onyx-grey;
  }
}

// DIV for action buttons
.action-buttons {
  margin: 1rem 0;
}
