

// DIV for action buttons
.action-buttons {
  margin: 1rem 0;
  & > * {
    margin-right: 0.5rem;
  }
}

// DIV for sign in buttons
.sign-in-cta {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}


// Buttons
.btn {
  padding: 0.3em 0.8em 0.4em;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  letter-spacing: 0.009em;
  &:hover {
    color: white;
  }
}

.btn-small {
  border-width: 1px;
  padding: 0.1em 0.6em 0.2em;
  font-size: 0.7em;
  font-weight: 300;
}

.btn-lrg {
  padding: 0.5em 5em 0.7em;
}

.btn-pink {
  @include button($salmon-pink);
}

.btn-teal {
  @include button($teal);
}

.btn-grey {
  @include button($limestone-grey);
}

.btn-pink-full {
  background-color: $salmon-pink;
  color: white;
  &:hover {
    background-color: darken($salmon-pink, 20%);
  }
}

.btn-grey-full {
  background-color: $limestone-grey;
  color: white;
  &:hover {
    background-color: darken($limestone-grey, 20%);
  }
}

// Secondary button, e.g. filter reset, cancel
.btn-secondary {
  background-color: $limestone-grey;
  border-color: $limestone-grey;
  color: white;
  &:hover {
    border-color: darken($limestone-grey, 20%);
    background-color: darken($limestone-grey, 20%);
  }
}

// Override browser input styles
input[type=submit] {
  font-family: inherit;
  font-size: inherit;
  &.btn-small {
    font-size: 0.7em;
  }
}


.btn-pink, .btn-teal, .btn-grey {
  background-color: transparent;
}

input.btn[value=Filter] {
  font-family: inherit;
  font-size: inherit;
  border-color: $limestone-grey;
  &.btn-small {
    font-size: 0.7em;
  }
  &:hover {
    cursor: pointer;
    border-color: darken($limestone-grey, 20%);
  }
}

.devise-page input.btn[type=submit] {
  border-color: $salmon-pink;
}
