#map {
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin-top: 1rem;
}

.flex-group {
  display: flex;
  justify-content: space-between;
  .group-contact {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
  }
  .group-main {
    flex-basis: 75%;
  }
}

.group-leave {
  display: inline;
}

.group-description {
  margin-top: 1rem;
}

.group-join-box {
  margin: 0.5rem 2rem 0.5rem 0.5rem;
  border: 1px solid $petal-pink;
  padding: 1rem 2rem 2.3rem;
  text-align: center;
  & .sign-in-cta {
    display: flex;
    justify-content: space-around;
  }
}
