// Joint CSS for both Groups and People + their single+edit views
// Also used on admin dashboard

// Lists for groups, people, coaches
.list-group-item {
  display: flex;
  padding: 1.1em 0.9em 1.1em 0;
}

.list-group-item-warning {
  background-color: lighten($limestone-grey, 30%);
  &:after {
  content: "It's you";
  border: 1px solid $limestone-grey;
  border-radius: 5px;
  padding: 0.5em 0.7em;
  height: 25%;
  }
}

.list-group-item-pic {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    flex: 1;
  }
  & img {
    border-radius: 50%;
    width: 60%;
    height: auto;
  }
}
.list-group-item-info {
  flex: 4;
}

.people--groups {
  display: flex;
  & p {
    margin-right: 0.3rem;
  }
  & .group-unspecified {
    font-style: italic;
  }
}

// Used on Group pages + Admin dashboard
.tag {
  padding: 0.05em 0.4em 0.1em;
  border: 1px solid $petal-pink;
  border-radius: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: $petal-pink;
}

.tag-mixed {
  background-color: $salmon-pink;
  border: none;
  color: white;
  text-transform: capitalize;
}
