<div class="container">
  <h1>Edit information about <%= @student.first_name %></h1>
  <div class="row">
    <div class="col-md-4">

      <%= render 'form' %>

    </div>
    <%= link_to student_path, html_options = {:class => 'btn btn-default'} do %>
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    <% end %>
  </div>
</div>