<div class="container">
  <h1>Edit information about <%= @student.first_name %></h1>
  <div class="row">
    <div class="col-md-4">
      
      <%= render 'form' %>

    <%= link_to 'Back', student_path %>

    </div>
  </div>
</div>