<div class="container">
	<div class="row">
		<article class="col-md-12">
			<h3><%= @student.first_name %> <%= @student.last_name %></h3>
			<p>Part of the <%= link_to @student.group.name, group_path(@student.group) %>.</p>
		</article>
	</div>
	<div class="row-fluid">
		<div class="col-md-12">
			<%= link_to groups_path do %>
				<i class="glyphicon glyphicon-arrow-left"></i> back to groups
			<% end %>
		</div>
	</div>
</div>
