%p
  Dear #{@person.first_name}
%p
  = @group.name
  has declined your request to join them.

%p Sorry about that. Maybe you'll find another group?

%p Best wishes from Rorganize!
%p ps - if you like our app, please send cake
