<p> Dear <%= @group.name %>

<p><%= @person.first_name %> has joined your group! </p>

<p> That means it's cake time! %>

<% if @person.twitter? %>
  They are on twitter: @<%= @person.twitter %>
<% end %>

<p>You can find out more about your latest member by heading over to your project group page.</p>

<p>Best wishes from the RailsGirlsApp </p>