<div class="container">

  <h3>Topics we'd like to cover:</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Suggested Topic</th>
        <th>User name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= topic.body %></td>
          <td><%= topic.person.full_name if topic.person %></td>
          <td><%= link_to 'Edit', edit_group_topic_path(topic.group_id, topic) if topic.group.editable_by?(current_person) %></td>
          <td><%= link_to 'Destroy', group_topic_path(topic.group_id, topic), method: :delete, data: { confirm: 'Are you sure?' } if topic.group.editable_by?(current_person) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
