.container
  %h2
    Topics by
    = link_to @group.name, @group

  .row
  //    - if show_member_buttons?(current_person, @group)
  //      = render partial: 'form', object: @topic

  - if @covered_topics.size > 0
    .covered-topics
      %h3 Past topics

      %ul.topics
        - @covered_topics.each do |topic|
          = render partial: 'list_item', locals: { topic: topic}

  - if @future_topics.size > 0
    .future-topics
      %h3 Future topics

      %ul.topics
        - @future_topics.each do |topic|
          = render partial: 'list_item', locals: { topic: topic}
