.container
  %h2
    Topics by 
    =link_to @group.name, group_path(@group)
  %h3
    back to
    = link_to 'topic overview', group_topics_path(@group.id)
  %p= @topic.body
  %p
    opened by
    =link_to  @topic.person, person_path(@topic.person)
    on
    = @topic.created_at.strftime("%d %B %Y")
  -if @topic.covered_at
    %p
      covered on
      = @topic.covered_at.strftime("%d %B %Y")

  - if @comments.size > 0
    %h4 Comments
    - @comments.each do |comment|
      %p hello

  %h4 Leave a comment
  //= render partial: 'comments/form'

