// Alert messages
.alert {
  position: fixed;
  left: 15%;
  right: 15%;
  top: 5.7em;
  width: 70%;
  z-index: 1;
  opacity: 1;
  transform: translate(0);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  &.fade-out {
    transition: all 700ms ease;
    transform: translateY(-50%) scale(.8);
    opacity: 0;
  }
}

.alert-notice,
.alert-info,
.alert-success {
  border: 1px solid $dodger-light;
  background-color: lighten($dodger-light, 20%);
}
.alert-error {
  border: 1px solid $salmon-pink;
  background-color: lighten($salmon-pink, 20%);
}
.alert-alert, .alert-warning {
  border: 1px solid $ochre-yellow;
  background-color: lighten($ochre-yellow, 20%);
}
.alert-close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
