/*
 * Group Profile
 */
.groupprofile,
.userprofile {
  padding-bottom: 10em;
  margin-top: 2em;
  h1 {
    margin-top: 0;
  }
  p {
    word-break: break-word;
  }
}
.list-group {
  .media {
    width: 50%;
  }
  h3 {
    margin-top: 0;
  }
}
.list-group-item {
  img {
    width: 100%;
    height: auto;
  }
}
.map {
  width: 100%;
  height: 100%;
  min-height: 30em;
  overflow: hidden;
}

.page-header {
  margin-top: 1.5em;
}

/*
 * Student/ Coaches
 */

.list {
    padding: 0;
    list-style-type: none;
    li {
        margin-bottom: .5em;
    }
    img {
        width: 40px;
        height: auto;
    }
}

.list--people {
  a {
    line-height: 2em;
  }
}

.topics {
  margin-top: 1em;
}

.button-class {
  margin-top: 110px;
}

.reset-button {
  border: solid 1px #B12200;
  border-radius: 5px;
}
