/*
 * Group Profile
 */
.groupprofile {
  padding-bottom: 10em;
  .group-header-image {
    height: 300px;
    overflow: hidden;
  }
}
.group-info {
  margin-top: 3em;
}
.list-group {
  .media {
    width: 50%;
  }
}
.map {
  width: 100%;
  height: 100%;
  min-height: 20em;
  overflow: hidden;
}