.header-container .navbar,
.footer-container {
  background: #eee;
}
.main-container {
  padding-top: 60px;
  padding-bottom: 100px;
}

.footer-container {
  padding: 35px 0 30px;
}
.profile-header {
  padding-top: .5em;
}