// Basic HTML styles
// Main Container
// General styles, .page-header


* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: $font-stack;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: $body-color;
}

/*
 * Basic Styles
 */
h1, h2 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: 2.1em;
  color: $ochre-yellow;
  border-bottom: solid 1px $ochre-yellow;
}

h2,
.h2 {
  margin-top: 1rem;
  font-size: 1.7em;
  color: $limestone-grey;
}

h3,
.h3 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0;
}

a {
  text-decoration: none;
  color: $link-color;
}

a:hover,
a:active,
a:focus {
  color: $link-color-hover;
}

h3 a {
  color: $limestone-grey;
  &:hover {
    color: darken($limestone-grey, 20%);
  }
}

ul, ol {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}

// Main Container
.main-container {
  margin-bottom: 3rem;
}

.about-page,
.welcome-page,
.conduct-page,
.dashboard-page {
  margin-top: 51.6px;
}

.no-flex-index {
  margin-top: 3rem;
  padding: 0 2rem; // gutter
}

.flex-index {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 3rem;
  padding: 0 2rem; // gutter
  @media (min-width: $mq-med) {
    flex-direction: row;
  }
}

.flex-index-main {
  flex: 2 0 60%;
  @media (min-width: $mq-med) {
    margin-right: 4rem;
  }
}

.flex-index-sidebar {
  flex: 1 0 30%;

  .page-header {
    border-bottom: 1px solid $light-grey;
  }
}

// Other general styles used throughout several pages

.page-header {
  margin-bottom: 1.5rem;
}
h1.page-header {
  margin-top: 0.25em;
  line-height: 1.55;
}
h2.page-header {
  line-height: 1.65;
}
