
html, body {
  height: 100%;
}

html, p, ol, ul, td {
  font-family: Helvetica Neue, Arial;
}

.main-container {
  min-height: 100%;
}

.main-container {
  overflow:auto;
  padding-bottom: 100px;
}  /* must be same height as the footer */

.footer-container {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
}

.btn, .btn-primary {
  color: white;
}

.btn-primary, .btn-primary:hover{
  padding: 20px;
  background-color: rgb(224, 51, 12);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: normal;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25) inset;
  border-radius: 5px;
  border: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgb(224, 51, 12);
  background-color: white;
}

.navbar-default {
  border: none;
}


body {
  color: rgb(224, 51, 12);
}

img {
  width: 100%;
  height: auto;
}

.header-container .navbar,
.footer-container {
  background: rgb(222, 57, 12);
}

.main-container {
  padding-top: 60px;
  padding-bottom: 100px;
}

.main-container td a, .main-container td a:hover {
  color: rgb(224, 51, 12);
}

.main-container td a:hover {
  /*border-bottom: 1px solid rgb(224, 57, 12);*/
  background: none;
}

.footer-container {
  padding: 35px 0 30px;
}
.profile-header {
  min-width: 10em;
  padding-top: .5em;
  text-align: right;
  .media-heading {
    line-height: 1.3;
  }
}
.footer-links {
  li {
    list-style-type: none;
  }
}
.map {
  width: 100%;
  height: 100%;
  min-height: 20em;
  overflow: hidden;
}

.groupprofile {
  padding-bottom: 10em;
  .group-header-image {
    height: 300px;
    overflow: hidden;
  }
}
.group-info {
  margin-top: 3em;
}
.list-group {
  .media {
    width: 50%;
  }
}

.student-list {
  img {
    width: 50px;
    height: auto;
  }
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
}
