// Joint CSS for both Groups and People + their single+edit views
// Also used on admin dashboard

// Lists for groups, people, coaches
.list-group {
  margin-left: 0;
}

.list-group-item {
  display: flex;
  flex-direction: column;
  padding: 1.1em 0;
  @media (min-width: $mq-med) {
    flex-direction: row;
    padding: 1.1em 0.9em 1.1em 0;
  }
}

.list-group-item-warning {
  background-color: lighten($daisy-yellow, 10%);
}

.list-group-item-pic {
  width: 50%;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  @media (min-width: $mq-med) {
    width: 20%;
  }
  & img {
    border-radius: 50%;
    width: 60%;
    height: auto;
    @media (min-width: $mq-med) {
      width: 100%;
    }
  }
}
.list-group-item-info {
  width: 100%;
  @media (min-width: $mq-med) {
    width: 70%;
  }
}

.people--groups {
  display: flex;
  & p {
    margin-right: 0.3rem;
  }
}

.people--groups-groups {
  list-style: none;
}

.list--people {
  list-style: none;
  margin: 1rem 0 0;
}

.list--people-name {
  display: inline-block;
  margin: 0.3rem 0;
  font-size: 1.15em;
}

.info-not-given {
  color: $limestone-grey;
  font-style: italic;
}

.letter-header {
  font-size: 2em;
  padding: 0.2em;
}

.alphabetical-list {
  a {
    font-size: 1.3em;
    padding: 0.5em;
  }
  margin: 1em 0 1em 0;
}

// Tags used on groups
.tag {
  margin-right: 0.5em;
  padding: 0.1em 0.4em 0.15em;
  border: 1px solid $salmon-pink;
  border-radius: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: $salmon-pink;
}
