// Header + Navigation

$navbar-height-reduced: 78px; // some weirdness on smaller screens

nav.navbar {
  display: flex; // container for whole header
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 0 2rem;
  border-bottom: 2px solid $light-grey;

  @media (max-width: $mq-large) {
    .header-logo {
      order: 1;
    }
    .profile-header {
      order: 2;
    }
    .main-nav {
      order: 3;
    }
  }

  @media (min-width: $mq-large) {
    height: $navbar-height;
    .profile-header {
      order: 3;
    }
    .main-nav {
      order: 2;
    }
  }
}

.header-logo {
  flex: 1;
  margin-right: 1rem;
  height: $navbar-height-reduced;
  img {
    height: auto;
    width: 175px;
  }
}

.main-nav {
  flex: 3;

  li {
    @media (min-width: $mq-large) {
      &:first-of-type a {
        margin-left: 20px;
      }
    }
    &.active a {
      color: $salmon-pink;
      border-color: $salmon-pink;
    }
    a {
      border-top: 4px solid transparent;
      &:hover,
      &:focus,
      &:active {
        color: $salmon-pink;
        border-color: $salmon-pink;
      }
    }
  }
}

.profile-header {
  @media (max-width: $mq-med) {
    width: 100%;
  }
  @media (max-width: $mq-large) {
    padding: 1em 0;

  }
  @media (min-width: $mq-large) {
    flex: 2;
    justify-content: flex-end;
  }

  li {
    align-items: center;
  }
  a {
    font-size: 0.9rem;
  }
}

.person-profile img {
  align-self: center;
  border-radius: 2px;
  border: 1px solid $limestone-grey;
}

.main-nav,
.profile-header {
  display: flex; // containers for respective list items
  align-items: center;
  height: $navbar-height-reduced;
  margin: 0;

  li {
    display: flex; // container for a tags, to achieve stretching of items
  }

  a {
    color: $body-color;
    margin-right: 0.2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    text-align: center;
    white-space: nowrap;
  }
}

// INFO: Padding used to keep hover-border at the very top
.header-logo,
.main-nav li a {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.sign-in {
  padding: 0.1em 0.7em 0.2em;
  &:hover,
  &:focus,
  &:active {
    background-color: $salmon-pink;
    border-radius: 2px;
    color: white;
  }
}

.gh-sign-in {
  display: inline-block;
  padding: 0.2em 0.7em 0.3em;
  background-color: $limestone-grey;
  border-radius: 2px;
  color: white;
  &:hover,
  &:focus,
  &:active {
    background-color: $salmon-pink;
  }
}
