//Corporate Blog

#post-edit-delete-buttons {
  margin-top: 30px;
}
.post-picture {
  margin-bottom: 2em;
  img {
    width: 100%;
    height: auto;
  }
}

.post {
  background-color: #eee;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 2em;

  h2 {
    margin-bottom: .7em;
    text-transform: capitalize;
  }
}
.post-meta {
  font-size: 14px;
  font-weight: 600;
}
.post-body {
  margin-top: 20px;
}