// _profiles.scss is used both for groups and persons

.flex-profile {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .profile-main {
    flex-basis: 75%;
  }

  @media (min-width: $mq-large) {
    flex-direction: row;
  }
}

.profile-contact {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  @media (min-width: $mq-med) and (max-width: $mq-large) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.profile-contact-sub {
  flex-grow: 1;
}

.profile-contact img {
  width: 50%;
  height: auto;
  margin: 0 auto;

  @media (min-width: $mq-med) {
    width: 30%;
    margin-right: 2em;
  }

  @media (min-width: $mq-large) {
    width: 90%;
  }
}

.group-leave {
  display: inline;
}

.group-description {
  margin-top: 1rem;
}

.group-join-box {
  margin: 1rem 0 1rem;
  border: 2px solid $petal-pink;
  padding: 0rem 4rem 1rem;
  text-align: center;
  & .divider {
    margin: 0 1rem;
  }
  & .sign-in-cta {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0.5em 0 0;
  }
}

/* Tabs for Resources, Topics and Members */
.group-tabs {
  margin: 3rem 0 1rem 0;
  border-bottom: 1px solid $ochre-yellow;
}

.group-tab {
  display: inline-block;
  margin-right: 1rem;
}

.group-tab a {
  display: block;
  padding: 0.4em 1em;
  border: 1px solid $ochre-yellow;
  border-bottom-width: 0;
  font-size: 1.2rem;
  color: $onyx-grey;
}

.group-tab a.active,
.group-tab a:hover {
  background-color: lighten($ochre-yellow, 30%);
  border-top-width: 3px;
  color: inherit;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.member-students,
.member-coaches {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

/* On person#show */

.working-on,
.profile-groups-list,
.profile-groups, {
  margin-top: 1rem;
}

.profile-groups {
  display: flex;
  & > * {
    margin-right: 0.5rem;
  }
}

/* Group topics */
.topics-list {
  margin-bottom: 1rem;
}

.topic-description {
  font-size: 1.1rem;
}
.topics-list .action-buttons {
  margin: 0 auto 1rem 0;
}

.topic-comments,
.topic-comment-form h3 {
  margin-top: 1rem;
}

/* Used in form for person#edit */

.userprofile-coach-question {
  list-style-type: square;
  & li {
    margin-left: 1rem;
  }
}
