// Variables
// Colors (darker->lighter)
$salmon-pink: #e2635a;
$petal-pink: #f2bbae;
$ochre-yellow: #ffc842;
$daisy-yellow: #ffe6b2;
$onyx-grey: #606161;
$limestone-grey: #a09f9f;
$dodger-blue: #0287FF;
$dodger-light: #78bfff;
$teal: #008080;
$teal-light: #00b3b3;


$font-stack: 'Lato', Helvetica, sans-serif;
$body-color: #484748;

$link-color: $salmon-pink;
$link-color-hover: darken($salmon-pink, 20%);

$navbar-height: 80px;
$header_red: rgb(177, 34, 0); //#b12200
$header_white: rgb(255,255, 255);

$mq-small : 24em;
$mq-med : 40em;
$mq-large : 64em;
$mq-xl : 75em;
