// first set our variables
@import "_bootstrap_vars.scss";
// then include bootstrap
@import "bootstrap";
@import "font-awesome";
// other styles
@import "_layout.scss";
@import "_dashboard.scss";
@import "_posts.scss";
@import "_groups_people.scss";
@import "_welcome.scss";
@import "_people.scss";

.section {
  padding: 3em 0;
}

/*
 * Style the leave group button
 */

.btn-leavegroup {
  display: block;
  width: 100%;
  padding: .3em 1.4em .2em;
  color: black;
  border: none;
  background: none;
  text-align: left;
  &:hover {
    background-color: #F5F5F5;
    text-decoration: none;
    color: black;
  }
}

#signup-button {
  margin-left: 60px;
}

//Landing Page Pictures

.landing-image {
  width: auto;
  max-width: 80%;
  max-height:40vh;
}

/*
 * Helper classes
 */

// flash messages
.alert {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 4em;
  width: 80%;
  z-index: 1031; // bootstrap sets the navbar to 1030
  opacity: 1;
  transform: translate(0);
  padding: 4px 30px;
  &.fade-out {
    transition: all 200ms ease;
    transform: translateY(-50%) scale(.8);
    opacity: 0;
  }
}

// remove default button styles
.no-btn {
  border: white solid 1px;
  background: none;
  border-radius: 25px;
  padding: 0.1em 0.5em;
  img {
    border-radius: 50%;
    overflow: hidden;
  }
  &:hover {
    background: white;
  }
}
// apply link styles
.link {
  text-decoration: none;
  padding-right: 0;
  padding-left: 0;
  color: $link-color;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  &:hover {
    border-bottom: 1px solid $link-color;
    color: darken($link-color, 10);
  }
}

// add a little gif to indicate ajax loading
.is-spinning {
  background: {
    image: url(/ajax-loader.gif);
    size: auto;
    position: center;
    repeat: no-repeat;
  }
}

.inline {
  display: inline
}
.center {
  text-align: center;
}

.form-box { 
  padding-top: 100px
}
