// first set our variables
@import "_bootstrap_vars.scss";
// then include bootstrap
@import "bootstrap";
@import "font-awesome";

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*
 * overall Layout
 */
.header-container {
  overflow: auto;
}
.navbar-default {
  border: none;
}

.main-container {
  padding: $navbar-height 0 $navbar-height * 2;
}

.profile-header {
  padding-top: .15em;
  &.navbar-nav.navbar-right:last-child {
    margin-right: 0; // overwrite bootstrap
  }
  img {
    margin-left: -0.2em;
  }
  a {
    color: white;
  }
  .media-heading {
    line-height: 1.3;
  }
}

/*
 * Group Profile
 */
.groupprofile {
  padding-bottom: 10em;
  .group-header-image {
    height: 300px;
    overflow: hidden;
  }
}
.group-info {
  margin-top: 3em;
}
.list-group {
  .media {
    width: 50%;
  }
}
.map {
  width: 100%;
  height: 100%;
  min-height: 20em;
  overflow: hidden;
}

/*
 * Student/ Coaches
 */
.student-list {
  img {
    width: 50px;
    height: auto;
  }
}

/*
 * Style the leave group button
 */

.btn-leavegroup {
  display: block;
  padding: .3em 1.4em .2em;
  color: black;
  border: none;
  background: none;
  &:hover {
    background-color: #F5F5F5;
    text-decoration: none;
    color: black;
  }
}

//Corporate Blog

.latest-post-overview,
.remaining-post-overview {
  background-color: #eee;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 2em;
}
#post-username {
  font-size: .75em;
}

#post-description {
  font-size: 1.5em;
  margin-top: 20px;
}

#post-edit-delete-buttons {
  margin-top: 30px;
}
.post-picture {
  margin-bottom: 2em;
  img {
    width: 100%;
    height: auto;
  }
}


#signup-button {
  margin-left: 60px;
}

//Landing Page Pictures

.landing-image {
  width: auto;
  max-width: 80%;
  max-height:40vh;
}

.alert {
  position: fixed;
  left: 0;
  right: 0;
  top: 4em;
  width: 80%;
  z-index: 1031; // bootstrap sets the navbar to 1030
  opacity: 0.9;
  transform: translate(0);
  padding: 4px 30px;
  &.fade-out {
    transition: all 200ms ease;
    transform: translateY(-50%) scale(.8);
    opacity: 0;
  }
}

.dashboard-list {
  position: relative;
  list-style: none;
  padding: 0;
  img, a {
    display: inline-block;
  }
  form {
    display: none;
  }
  li {
    position: relative;
    margin-bottom: .5em;
  }
  li:hover form {
    display: inline-block;
  }
}
.dashboard-left {
  display: inline-block;
  width: 60%;
}
.dashboard-right {
  float: right;
}

.no-btn {
  border: white solid 1px;
  background: none;
  border-radius: 25px;
  padding: 0.1em 0.5em;
  img {
    border-radius: 50%;
    overflow: hidden;
  }
  &:hover {
    background: white;
  }
}
.link {
  color: $link-color;
  &:hover {
    text-decoration: underline;
    color: darken($link-color, 10);
  }
}

.panel-image {
  img {
    width: 100%;
    height: auto;
  }
}

.is-spinning {
  background: {
    image: url(/ajax-loader.gif);
    size: auto;
    position: center;
    repeat: no-repeat;
  }

#pending-box {
  border: 2px;
  border-style: solid;
  border-color: $header_red;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 25px;
  margin-top: 5px;
}

#person-status-box {
  padding: 2px;
  background-color: #ADD6FF;
  text-align: center;
  color: #335C85;
}
