.map {
  height: 250px;
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
}

.group-map {
  margin-top: 2em;
  flex: 1 0 100%;
}

.index-map {
  height: 500px;
  margin-top: 2em;
  ul {
    display: none;
  }
}

