- if current_person.can_join_group?
  = form_for(current_person.memberships.build(group_id: @group.id), html: {class: 'btn-group inline'}, url: memberships_path) do |f|
    = f.hidden_field :group_id
    = f.hidden_field :type
    %button.btn.btn-success
      %i.glyphicon.glyphicon-ok-circle
      Join this group
- else
  %a.btn.btn-success{href: new_person_registration_path}
    %i.glyphicon.glyphicon-ok-circle
    sign up to join!