<%= form_tag membership_path(current_person.memberships.find_by(group_id: @group.id)), method: :delete do %>
  <button class="btn-leavegroup"><i class="glyphicon glyphicon-remove-circle"></i>  leave group</button>
<% end %>
