%li{class: "list-group-item"}
  .list-group-item-pic
    = render partial: 'shared/group_picture', locals: { group: group}

  .list-group-item-info
    %h3= link_to group.name, group
    %p
      - if group.full?
        %span.tag.tag-full
          Full
      - if group.inactive?
        %span.tag.tag-inactive
          Inactive
      - if group.allow_male_students?
        %span.tag
          Mixed group
      - if group.searching_coaches
        %span.tag
          Searching for coaches
      - if group.searching_students
        %span.tag
          Searching for students
      - if group.searching_location
        %span.tag
          Searching for location

    = render 'meeting_info', group: group
