= form_tag membership_path(object.memberships.find_by(group_id: group.id)),
  method: :delete,
  class: 'inline',
  data: { confirm: "This will remove the person from the group.\nYou really want to do that?" } do
  %button.btn.btn-small.btn-pink
    Remove from group
