= form_tag membership_path(object.memberships.find_by(group_id: group.id)),
  method: :delete,
  class: 'inline pull-right',
  data: { confirm: "This will remove the person from the group.\nYou really want to do that?" } do
  // TODO: style this button
  %button
    Remove from group
