%aside.flex-index-sidebar
  %h2.page-header New Groups
  %p If you don't see your project group, feel free to add it!
  %p.sign-in-cta
    = link_to "Register new group", new_group_path, class: 'btn btn-pink-full'
