<div class="container">
  <div class="row">
    <div class="col-md-12 page-header">
      <h2>Edit group <%= @group.name %></h2>
    </div>
  </div>
  <div class="row">
    <%= render 'form' %>
    <div class="col-md-4">
      <%= link_to 'Back', groups_path, class: 'pull-right' %>
    </div>
  </div>
</div>
