= render 'subnav'

.flex-index
  .flex-index-main
    %h1.page-header Inactive groups

    %ul.list-group
      = render partial: 'one_group', collection: @groups, as: :group

  %aside.flex-index-sidebar
    %h2.page-header New Groups
    %p If you don't see your project group, feel free to add it!
    %p.sign-in-cta
      = link_to "Register new group", new_group_path, class: 'btn btn-pink-full'
