.container
  .row
    .col-md-8
      %h1.page-header Groups overview
      %ul.list-group
        = render partial: 'one_group', collection: @groups, as: :group
        
      %h2.page-group Inactive groups
      %ul.list-group
        = render partial: 'one_group', collection: @groups_inactive, as: :group

    %aside.sidebar.col-md-4
      %h1.page-header Hey listen!
      %p If you don't see your project group - feel free to add it!
      = link_to "register new group", new_group_path, class: 'btn btn-primary'
      = render partial: 'shared/filter', locals: { path: groups_path }
                  
