.container
  .row
    .col-md-12.page-header
      %h2 Register a new group
      %h5 Fields with * are required
  .row
    = render 'form'
    .col-md-4
      = link_to 'Back', groups_path, class: 'pull-right'
