= render 'subnav'

.flex-index
  .flex-index-main
    %h1.page-header Open groups
    %p These groups are currently open to new members.

    - if @groups.present?
      %ul.list-group
        = render partial: 'one_group', collection: @groups, as: :group
    - else
      %p Nothing here yet

  = render 'sidebar'
