= render 'subnav'

.flex-index
  .flex-index-main
    %h1.page-header Recently added groups
    %p These are groups that were founded within the last six months.

    - if @groups.present?
      %ul.list-group
        = render partial: 'one_group', collection: @groups, as: :group
    - else
      %p Nothing here yet

  = render 'sidebar'
