= render 'subnav'

.flex-index
  .flex-index-main
    %h1.page-header Groups searching
    %p Groups searching for students, coaches or a location.

    - if @groups.present?
      %ul.list-group
        = render partial: 'one_group', collection: @groups, as: :group
    - else
      %p Nothing here yet

  = render 'sidebar'
