%h2.page-header Filter by
= form_tag url_for, method: 'get' do
  .row.filter-option
    %label.col-md-3.control-label city
    .col-md-8
      = select_tag 'city', options_for_select(@cities), include_blank: true, class: 'form-control'

  .row.filter-option
    %label.col-md-3.control-label country
    .col-md-8
      = select_tag 'country', options_for_select(country_names_for_select(@countries)), include_blank: true, class: 'form-control'

  - if current_page?(coaches_path)
    .row.filter-option
      %label.col-md-9.control-lable willing to travel
      .col-md-2
        = check_box_tag 'willing_to_travel'

  %button{type: 'submit', class: 'btn btn-primary'}
    filter
