.people--groups
  %p
    %strong Groups:
  %ul
    - if object.groups.any?
      - object.groups.each do |group|
        %li= link_to group.name, group
    - else
      %li.group-unspecified not specified
