- if object.groups.any?
  .people--groups
    %p
      %strong= '💎 Group'.pluralize(object.groups.count)
    %ul.people--groups-groups
      - object.groups.each do |group|
        %li= link_to group.name, group
