<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Hello Rubycorns</h1>
      <p>This is the new frontpage, check views/pages/index.</p>
      <p>To add another 'static' page add a method to the pages controller, adjust the routes and create a view in views/pages/.</p>
    </div>
  </div>
</div>