<div class="container">
  <h1>Edit information about <%= @coach.first_name %></h1>
  <div class="row">
    <div class="col-md-4">
      <%= render 'form' %>
      <%= link_to 'Back', coach_path %>
    </div>
    <%= link_to coach_path, html_options = {:class => 'btn btn-default'} do %>
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    <% end %>
  </div>
</div>