<div class="container">
  <h1>Coaches overview</h1><br /><br />
  <div class="row-fluid">
    <div class="span8">
      <ul>
        <% @coaches.each do |coach| %>
          <li>
            <div>
              <p><%= link_to coach.full_name, coach_path(coach) %></p>
              <p><%= link_to coach.group.name, group_path(coach.group.id) if coach.group %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>