.container
  %h1.page-header
    This is a coach list
  .row
    .col-md-8
      %ul.list-group
        - @coaches.each do |coach|
          %li.list-group-item.clearfix
            .row
              .col-md-2
                = person_avatar(coach)
              .col-md-8
                %h3
                  = profile_link(coach)
