%ul.sub-nav{role: "navigation"}
  %li= link_to "Blog posts", posts_path, class: 'active'

.flex-index
  .flex-index-main
    %h1.page-header Rubycorns Blog
    - if current_person.admin?
      .action-buttons
        = link_to 'Create new post', new_post_path, class: 'btn btn-pink-full'
    - if @published_posts.any?
      %ul.post-list
        - @published_posts.each do |post|
          %li= render partial: 'post', object: post
      = will_paginate @published_posts, class: 'blog-pagination'
    - else
      %div
        Oops, no blogposts here

  %aside.flex-index-sidebar
    .twitter-feed.page-header
      %a.twitter-timeline{"data-widget-id" => "467588755692322816", href: "https://twitter.com/rubycorns"} Tweets by @rubycorns
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
