<div class='container'>
  <div class="row">
    <article class="col-sm-8 col-sm-offset-2">
      <h1 class="page-header">Corporate Blog</h1>
      <%= render partial: 'post', object: @post %>
      <div id="post-edit-delete-buttons">
        <% if current_person && current_person.has_role?(:admin) %>
          <%= link_to 'edit', edit_post_path(@post) %> |
          <%= link_to 'delete', @post, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>
      <%= link_to 'Back', posts_path %>
    </article>
  </div>
</div>