// Variables
// Colors (darker->lighter)
$salmon-pink: #e2635a;
$petal-pink: #f2bbae;
$ochre-yellow: #ffc842;
$daisy-yellow: #ffe6b2;
$onyx-grey: #606161;
$limestone-grey: #a09f9f;
$dodger-blue: #0287FF;
$dodger-light: #78bfff;
$teal: #008080;
$teal-light: #00b3b3;
$header_white: rgb(255,255, 255);
$body-color: #484748;
$navbar-default-link-active-bg: white;

$font-stack: 'Lato', Helvetica, sans-serif;
$navbar-height: 80px;
$header_red: rgb(177, 34, 0); //#b12200
$link-color: $dodger-light;
$link-color-hover: $dodger-blue;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: $font-stack;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: $body-color;
}

/*
 * Basic Styles
 */

h1 {
  font-size: 2.1em;
  color: $ochre-yellow;
  border-bottom: solid 1px $ochre-yellow;
}

h2 {
  font-size: 1.7em;
  color: $limestone-grey;
}

h3 {
  font-size: 1.4em;
  font-weight: 700;
  color: $onyx-grey;
}

a {
  text-decoration: none;
  color: $dodger-blue; //temp
}

a:hover,
a:active,
a:focus {
  color: $dodger-light; //temp
}

ul {
  list-style: none;
  margin: 0;
}

// Buttons
.btn {
  padding: 0.3em 0.8em 0.4em;
  border-radius: 5px;
  color: white;

}

.btn-pink {
  background-color: $salmon-pink;
  &:hover {
    background-color: $petal-pink;
  }
}

.btn-teal {
  background-color: $teal;
  &:hover {
    background-color: $teal-light;
  }
}

.btn-grey {
  background-color: $limestone-grey;
  &:hover {
    background-color: $onyx-grey;
  }
}


// Header + Navigation
header nav {
  width: 100vw;
  border-bottom: 2px solid $limestone-grey;
}

nav.navbar {
  height: $navbar-height;
  display: flex; // container for whole header
  justify-content: space-around;
}

.header-logo {
  flex: 1;
  margin-left: 3rem;
}

.main-nav {
  flex: 3;
}

.profile-header {
  flex: 2;
}

.main-nav,
.profile-header {
  display: flex; // containers for respective list items
}

.main-nav li,
.profile-header li {
  display: flex; // container for a tags, to achieve stretching of items
}

// INFO: Padding used to keep hover-border at the very top
.header-logo,
.main-nav li a {
  padding-top: 1rem;
  font-size: 1.3rem;
}

.main-nav li a,
.profile-header li a {
  color: $body-color;
  border-top: 3px solid white;
  margin-right: 1.2rem;
  text-align: center;
  &:hover,
  &:focus,
  &:active {
    border-top: 3px solid $header_red;
  }
}

// Q: DRYer way to combine with hover state?
.main-nav li.active a {
  border-top: 3px solid $header_red;
}

// profile-header
.profile-header li a {
  font-size: 1rem;
  padding-top: 1.3rem
}

// GH sign in button
.not-logged-in > li:last-child > a > span {
  padding: 0.2em 0.7em 0.3em;
  background-color: $limestone-grey;
  border-radius: 5px;
  color: white;
}

// Sub navigation
.sub-nav {
  padding: 0;
  display: flex;
  justify-content: flex-start;

  & > li {
    display: flex;
  }
  & > li > a {
    padding: 0.5rem 1rem 0.7rem;
    border-top: 3px solid white;
  }
  & > li:hover > a,
  & > li:active > a,
  & > li:focus > a,
  & > li > a.active {
    border-top: 3px solid $ochre-yellow;
  }
}

// Main Container
.main-container {
  margin:0 3rem 3rem;
  display: flex;
  flex-direction: column;
}

.flex-page {
  display: flex;
}

.flex-page-main {
  flex: 2;
  margin-right: 2rem;
}

.flex-page-sidebar {
  flex: 1;
}

body.ghosticorn {
  background: image-url("ghosticorn.gif");
}

// Index/Home page
.hero {
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.home-find {
  margin: 4em 0;
  display: flex;
  justify-content: space-around;
}

.home-find-groups,
.home-find-people {
  text-align: center;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  background-color: $daisy-yellow;
  border-radius: 10px;
}

/* Left will inherit from right (so we don't need to duplicate code) */
.github-fork-ribbon {
  /* The right and left classes determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set the base colour */
  background-color: #a00;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);

  /* Set the font */
  font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;

  z-index: 9999;
  pointer-events: auto;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the text properties */
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need
     to tweak the top and right values in .github-fork-ribbon. */
  width: 200px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;

  /* Add "stitching" effect */
  border-width: 1px 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  pointer-events: none;
}

.github-fork-ribbon-wrapper.left-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  left: 0;
}

.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
  top: 80px;
  left: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
